/***********************************************************/
/* Styles for the extension directory pages                */
/* Added by Freeform Solutions, S.Gray, June 13, 2012      */
/***********************************************************/

/* submission form */

#civicrm-extension-node-form .node-form-has-region-right .form-region-main {
	width: 50%;
}

#civicrm-extension-node-form .node-form .form-region-right {
	width: 45%;
	padding-left: 4%;
}

#civicrm-extension-node-form .form-text {
	width: 410px;
}

#civicrm-extension-node-form .form-item.form-type-checkboxes::after { /* clearfix */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#civicrm-extension-node-form .form-item.form-type-checkbox {
	width: 47%; /* put checkbox options into two columns */
	float: left;
	padding-right: 2%;
}

#civicrm-extension-node-form .description {
	clear: both;
}

#civicrm-extension-node-form .form-region-footer {
	padding-top: 25px;
}


/* page tabs */

.section-extensions #main-content ul.primary li a {
	background-color: #F9F8F6;
	background-image: url(/sites/civicrm.org/themes/civicrm_theme/images/slant-tile.png);
	font-family: "Open Sans Condensed",Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: lighter;
	height: auto;
	color: #036086;
}

.section-extensions #main-content ul.primary li a:hover {
	color: #000;
}

.section-extensions #main-content ul.primary li a.active {
	background-image: url(/sites/civicrm.org/themes/civicrm_theme/images/title-bg.gif);
	color: #000;
}

.section-extensions #main-content ul.primary li a.active:hover {
	color: #036086;
}


/* search filters */

.view-filters {
    clear: both;
    margin: 2em 0; 
	padding: 10px 15px;
	background-image: url(/sites/civicrm.org/themes/civicrm_theme/images/slant-tile.png);
}

.view-filters form {
    margin: 0;
 }

/* submit an extension button */
/* based on: #block-views-call_to_action-block .view-call-to-action .view-footer h4 */

#block-block-13 .content a,
#block-block-22 .content a {
	float: right;
	display: block;
	margin: 0 0 2em 3em;
	color: black;
	font-family: Cantarell,Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: -1px;
	text-align: center;
	text-decoration: none;
	background-color: #7EC756;
	padding: 12px 10px;
	background-image: url(/sites/civicrm.org/themes/civicrm_theme/images/slant-tile.png);
	background-repeat: repeat;
}

#block-system-main {
	clear: left; /* allow content to have an element float beside it on the right */
}

/* styling Add release link on extension */
.extension_release_civicrm_field_extension_nr_crm a,
.extension_release_cms_field_extension_nr_cms a {
  display: block;
  margin: 0 0 2em 3em;
  color: black;
  font-family: Cantarell,Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -1px;
  text-align: center;
  text-decoration: none;
  background-color: #7EC756;
  padding: 12px 10px;
  background-image: url(/sites/civicrm.org/themes/civicrm_theme/images/slant-tile.png);
  background-repeat: repeat;
}

.view-extensions-directory .views-field-changed {
  font-size: .8em;
}

.view-extensions-directory .views-row {
  border-bottom: 1px dotted #BAB9B9;
  padding: 1em;
  position: relative;
}

.view-extensions-directory .views-row-odd {
  background-color: #F4F1FC;
}

.view-extensions-directory .views-row-even {
  background-color: #FCFBFF;
}

.view-extensions-directory .cms-icon {
  height: 26px;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 26px;
  background-image: url(../images/cms-icons-26.png);
  background-repeat: no-repeat;
}

.view-extensions-directory .Drupal .cms-icon {
  background-position: -26px 0px;
}

.view-extensions-directory .Joomla .cms-icon {
  background-position: -52px 0px;
}

.view-extensions-directory .WordPress .cms-icon {
  background-position: -78px 0px;
}

#block-system-main .node-extension .node-links {
  float: right;
}

#block-system-main .node-extension .node-content {
  float: left;
  width: 75%;
}

.view-extensions-directory .view-header p,
.view-extensions-directory .view-content .views-row .views-field-body .field-content {
    color: #58595B !important;
    font-family: "PT Sans Caption",Cantarell,Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.view-extensions-directory .view-content .views-row .views-field-view-node {
    color: #056186 !important;
    font-family: "PT Sans Caption",Cantarell,Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.view-extensions-directory .view-content .views-row .views-field-title h2 a {
    color: #056186 !important;
    font-family: "PT Sans Caption",Cantarell,Helvetica,Arial,sans-serif !important;
    font-size: 15px !important;
}

/* new window icon */

.new-window {
	background: transparent url(/sites/civicrm.org/themes/civicrm_theme/images/new_window_icon.gif) no-repeat center right;
	padding-right: 17px;
}
