drupal/sites/*/settings.php
drupal/sites/*/civicrm.settings.php
drupal/sites/*/files

drupal/sites/default/civiext/cache

.DS_Store
*~
\#*\#
*.swp
*.mysql
!drupal/sites/all/modules/civicrm/*/*.mysql
!drupal/sites/all/modules/civicrm/*/*/*.mysql
!drupal/sites/all/modules/civicrm/*/*/*/*.mysql
!drupal/sites/all/modules/civicrm/*/*/*/*/*.mysql

tags

*.sql
*.tar
*.gz
*.zip


