sites/*/settings.php
sites/*/civicrm.settings.php
sites/*/files

civicrm_extensions/cache

*~
\#*\#
*.swp
*.mysql
!sites/all/modules/civicrm/*/*.mysql
!sites/all/modules/civicrm/*/*/*.mysql
!sites/all/modules/civicrm/*/*/*/*.mysql
!sites/all/modules/civicrm/*/*/*/*/*.mysql

tags

*.sql
*.tar
*.gz
*.zip


