@media screen and (-webkit-min-device-pixel-ratio:0)
{
#block-search-form .form-actions
{
    float: left !important;
    position: absolute !important;
	top:109px !important;
	left:auto !important;
	padding-left:8px;
}

#block-static_block-crm-solution-block1{margin-top:-19px !important;}

.front #block-static_block-crm-solution-block1{margin-top:-19px !important;}

#search-block-form, #block-form{margin-left:10px;}

#block-search-form .form-text, #search-form .form-text{height:25px;}

#block-views-casestudy_new_-block{margin-top:-2px;}

#block-static_block-homepage-joinus-block1 .three-tab{width:798px;}

#block-static_block-homepage-joinus-block1{padding-right:0;padding-top:0px;}

#block-static_block-get-started-homepage-block1{margin-top:-1px;}

#block-quicktabs-tabs .ui-tabs .ui-tabs-nav li, #block-static_block-get-started-homepage-block1 .ui-tabs .ui-tabs-nav li, #quicktabs-tabs div.ui-tabs-panel{border-top-left-radius:0px; border-top-right-radius:0px; border-bottom-left-radius:0px; border-bottom-right-radius:0px;}

#block-menu-menu-contact-sub-menu{margin-top:-3px;}

.page-user-register #search-block-form{margin-left:0px;}

.close-button a{color:transparent;}

.close-button{margin-top:-21px;}

div.ddblock-cycle-upright10p div.slide-read-more{margin-top:-20px;}

#block-menu-menu-contact-sub-menu{top:221px;}

#footer{position:absolute;} 
}

.view-download-tab .views-table .views-field-body a{padding-bottom:13px !important;}
