#main-content{margin-top:12px !important;}

#page-title{padding-top:29px;}

#header{margin-top:18px !important;}

#branding{margin-top:-32px !important;z-index:12 !important;}

.view-community-bar .views-row .picture-original img{filter: alpha(opacity=20) !important;}

.hidebg{filter: alpha(opacity=50) !important;}

#block-views-casestudy_new_-block .content .item-list li{float:left;padding-top:55px !important;}

#block-static_block-get-started-homepage-block1{margin-top:5px !important;position:static !important;display:inline-block !important;}

#block-views-casestudy_new_-block{margin-top:2px;}

.front #block-static_block-crm-solution-block1, #block-static_block-crm-solution-block1{margin-top:-20px !important;margin-left:-8px !important;}

#block-static_block-homepage-joinus-block1 .three-tab{width:807px;}

#block-static_block-homepage-joinus-block1{padding-right:0;padding-top:0px;display:inline-block;}

#block-static_block-homepage-joinus-block1 h2.block-title{padding-bottom:10px;}

#block-menu-menu-contact-sub-menu{margin-top:-4px;}

#block-menu-menu-contributions{top:212px;}

.ui-tooltip .disable-field img{margin-top:-98px !important;}

.main-div{margin-top:-18px !important;}

.close-button a{text-indent:0px;}

.close-button{padding:7px 0 11px 0;}

.header-top
{
	margin-top:-100px;
}

#ui-tooltip-4 .qtip-tooltip .header-top
{
	margin-left:-320px !important;
}

#ui-tooltip-5 .qtip-tooltip .header-top{margin-left:-400px !important;}

#ui-tooltip-6 .qtip-tooltip .header-top{margin-left:-480px !important;}

#ui-tooltip-7 .qtip-tooltip .header-top{margin-left:-560px !important;}

#ui-tooltip-8 .qtip-tooltip .header-top{margin-left:-640px !important;}

#ui-tooltip-9 .qtip-tooltip .header-top{margin-left:-720px !important;}

#ui-tooltip-10 .qtip-tooltip .header-top{margin-left:-800px !important;}

#ui-tooltip-11 .qtip-tooltip .header-top{margin-left:-880px !important;}

.disable-field{margin-top:18px !important;}

#block-views-homepage_alert-block{padding-top:5px;}

#block-search-form .form-actions
{
	margin-left:10px !important;
	top:0px !important;
	left:0px !important;
	float:none !important;
}

#block-search-form .form-text {
    background-repeat: no-repeat;
    border: 0 none;
    color: #A55F53;
    font-size: 10px;
    height: 18px !important;
    margin-left: 36px;
    margin-top: 3px;
    padding: 4px 0 0 0;
    position: absolute;
    width: 200px;
	background-image:none;
}

#search-form .form-text {
    background-repeat: no-repeat;
    border: 0 none;
    color: #A55F53;
    font-size: 10px;
    height: 18px !important;
    margin-left: 43px;
    margin-top: 0px;
    padding: 4px 0 0 0;
    position: absolute;
    width: 200px;
	background-image:none;
}

#block-search-form .form-item {
    background-image: url("../images/sr1.png");
    background-repeat: no-repeat;
    height: 28px;
    margin: 0;
    position: absolute;
    width: 250px;
}

#search-form .form-item {
    background-image: url("../images/sr1.png");
    background-repeat: no-repeat;
    height: 28px;
    margin: 0;
    position: absolute;
    width: 400px;
	background-position:150px 0;
}

#search-block-form, #block-form
{
	margin-left:10px !important;
	margin-top:10px !important;
}

#edit-advanced .form-item
{
	background-image:none !important;
	background-repeat:no-repeat !important;
	height:auto !important;
	width:auto !important;
	padding:0px !important;
	position:static !important;
}

#edit-advanced .form-item .form-text
{
	border:1px solid #ccc;
	margin-left:0px;
    background-image: none !important;
    border: 1px solid #CCCCCC;
    height: auto !important;
    margin-left: 0;
    padding: 5px 12px !important;
    width: auto !important;
	color:#000 !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:12px;
    position: static !important;
}

#block-search-form, #block-system-main{position:static;}

#block-search-form .form-submit{background-position:0px 2px;}

#search-form .form-submit
{
	float:none;
	left:160px;
	top:0px;
	background-position:0px 2px;
}

#block-quicktabs-tabs, #block-static_block-get-started-homepage-block1 #quicktabs-tabs{margin-top:-37px;position:static !important;display:inline-block;}

#block-nice_menus-6 #nice-menu-6 li ul li{display:block;}

#block-nice_menus-6 #nice-menu-6 li{display:inline;}

#block-nice_menus-6 #nice-menu-6 li.first{margin-top:0px;}

#block-nice_menus-6 #nice-menu-6 li ul li{margin-top:0px !important;}

#block-nice_menus-6{margin-top:14px;}

#nice-menu-6{position:static;z-index:0;}

#block-nice_menus-6 #nice-menu-6 li a{z-index:0;}

#toboggan-login{margin-left:0px !important;}

#block-user-login{margin-top:17px;}

#block-logintoboggan-logintoboggan_logged_in{margin-top:13px;}

#block-static_block-crm-solution-block1 div.ddblock-cycle-upright10p div.slide-text-vertical .slide-body-inner p{margin-top:-20px !important;}

.status, .messages{margin-top:30px;}

.main-div
{
	position:relative;
	z-index:1000;
	margin-top:15px;
}

.gray, .white{font-size:0px !important;}

.view-download-tab .views-table .views-field-body a{position:relative;}

.section-what #block-views-civi_case_study-block_1 .view-civi-case-study .view-content table th, .section-what #block-views-civi_case_study-block_1 .view-civi-case-study .view-content table td
{
	border-bottom:1px solid #ccc !important;
}

div.messages{left:0px !important;}

#block-views-casestudy_new_-block, #block-static_block-get-started-homepage-block1, #block-static_block-homepage-joinus-block1, #footer{margin-left:-8px !important;}

#footer{padding-bottom:1px !important;}

.view-download-tab .views-table .views-field-body a
{
    padding-bottom:13px !important;
    background-position:0 0 !important;
}