#header{margin-top:14px !important;}

#branding{margin-top:-32px !important;}

.view-community-bar .views-row .picture-original img
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)" !important;
}

.hidebg
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important;
}

#block-static_block-homepage-joinus-block1 .three-tab{width:799px;}

#block-static_block-homepage-joinus-block1{padding-right:0;padding-top:0px;}

#block-menu-menu-contact-sub-menu{margin-top:0px;}

#block-search-form .form-actions
{
	margin-left:10px !important;
	top:0px !important;
	left:0px !important;
	float:none !important;
}

#block-search-form .form-text {
    background-repeat: no-repeat;
    border: 0 none;
    color: #A55F53;
    font-size: 10px;
    height: 18px !important;
    margin-left: 36px;
    margin-top: 3px;
    padding: 4px 0 0 0;
    position: absolute;
    width: 200px;
	background-image:none;
}

#search-form .form-text {
    background-repeat: no-repeat;
    border: 0 none;
    color: #A55F53;
    font-size: 10px;
    height: 18px !important;
    margin-left: 43px;
    margin-top: 0px;
    padding: 4px 0 0 0;
    width: 200px;
	background-image:none;
}

#block-search-form .form-item {
    background-image: url("../images/sr1.png");
    background-repeat: no-repeat;
    height: 28px;
    margin: 0;
    position: absolute;
    width: 250px;
}

#search-form .form-item {
    background-image: url("../images/sr1.png");
    background-repeat: no-repeat;
    height: 28px;
    margin: 0;
    width: 400px;
	background-position:145px 0;
	padding:5px 20px 10px 0px;
}

#edit-advanced .form-item
{
	background-image:none !important;
	background-repeat:no-repeat !important;
	height:auto !important;
	width:auto !important;
	padding:0px !important;
}

#edit-advanced .form-item .form-text{border:1px solid #ccc;margin-left:0px;}

#search-block-form, #block-form{margin-left:10px;}

.front #block-static_block-crm-solution-block1{margin-top:-19px;}

#block-static_block-crm-solution-block1{margin-top:-19px;}

#block-search-form .form-submit{background-position:0px 2px;padding-top:5px;}

#search-form .form-submit{background-position:0px -2px;}

#block-nice_menus-6 #nice-menu-6 li
{
	display:inline;
}

#block-logintoboggan-logintoboggan_logged_in, #block-user-login{margin-top:13px;}

#block-nice_menus-6 #nice-menu-6 li ul li{display:block;}

div.ddblock-cycle-upright10p div.slide-read-more{margin-top:-20px;}

#footer{padding-bottom:1px !important;} 

.gray, .white{font-size:0px !important;}

#block-views-civicrm_blog_description-block .view-civicrm-blog-description ul li, #block-views-og_discussions-block_1 .view-og-discussions .view-content ul li{font-size:16px !important;}

#block-quicktabs-tabs, #block-static_block-get-started-homepage-block1 #quicktabs-tabs{margin-top:-20px !important;}

.close-button{margin-top:-20px;}

.view-download-tab .views-table .views-field-body a
{
    padding-bottom:13px !important;
    background-position:0 0 !important;
}

