.view-community-members .view-content .views-row .qtip-tooltip .hover-image, .view-community-members .view-content .views-row .qtip-tooltip .main-div, .view-community-members .view-content .views-row .picture-original {
    display:none  !important;
}

.view-community-members .views-row {
    height:0px !important;
}

#crm-container #ThankYou
{
	font-size:13px !important;
}

#header #block-nice_menus-1 li.menu-3237 a, #header #block-nice_menus-1 li.menu-3230 a
{
    font-size: 15px !important;
	color:#000000 !important;
}

#header #block-nice_menus-1 li.menu-3240 a, #header #block-nice_menus-1 li.menu-3228 a
{
    font-size: 15px !important;
	color:#6D6E71 !important;
}

#header #block-nice_menus-1 #nice-menu-1 li.last
{
    margin-right: 0 !important;
}

#header #block-nice_menus-1 #nice-menu-1 li
{
    margin: 0 31px 0 0 !important;
}

#leaderboard #block-search-form .form-text
{
    background-repeat: no-repeat !important;
    border: 1px solid #CCCCCC !important;
    border-radius: 164px 164px 164px 164px !important;
	-moz-border-radius: 164px 164px 164px 164px !important;
	-webkit-border-radius: 164px 164px 164px 164px !important;
	-o-border-radius: 164px 164px 164px 164px !important;
	-ms-border-radius: 164px 164px 164px 164px !important;
    color: #A55F53 !important;
    font-family: Cantarell,Helvetica,Arial,sans-serif !important;
    font-size: 10px !important;
    height: 20px !important;
    padding: 1px 10px 5px 40px !important;
    width: 196px !important;
}
