.crm-support {
  border: 1px gray;
  background-color: #ffffff;
  color: #58595B;
  font-size: 14px;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.crm-buttons {
  padding-top: 30px;
}

.crm-input {
  cursor: pointer;
  width: 206px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 25px;
  background: #7ec757 none;
}

.crm-amount {
  border: 0 none;
  width: 72px;
  text-align: right;
  background: 0;
  color: #FFFFFF;
  text-align: right;
  background-color: #056186;
  font-size: 30px;
  height: 44px;
  padding-right: 14px;
  padding-bottom: 4px;
}

.crm-hidden {
  display: none;
}

.crm-download-intro {
  font-size: 18px;
  padding-bottom: 5px;
}

.crm-title {
  font-size: 18px;
  color: #0B4151;
  background-color: #7EC757;
  font-family: "Lato","Lato",Cantarell,Helvetica,Arial,sans-serif;
  padding: 10px;
  font-weight: 900;
}

.crm-donate-option {
  font-size: 16px;
  padding-top: 15px;
}

.crm-introduction {
  padding-bottom: 14px;
}

.crm-download-content .ui-widget-content, .crm-download-content .ui-state-default {
  border: 1px solid #AAAAAA;
  color: #3E3E3E;
}

.crm-currency {
  font-size: 30px;
  background-color: #056186;
  color: #ffffff;
  padding: 7px 10px 9px 6px;
}

#slider {
  background: 0;
  height: 38px;
  width: 695px;
/*  margin-left: 85px;*/
  border: 0;
  position: relative;

}

.ui-slider-horizontal .ui-slider-handle {
  background: url('/sites/all/themes/civicrm_theme/images/slant-tile.png') #056186;
  margin-left: 6px;
  padding: 0 17px;
  height: 50px;
  cursor: pointer;
  /*display: none;*/
  z-index: 99;
}

.slider-container {
  background-image: url('/sites/all/themes/civicrm_theme/images/slant-tile.png');
  border: 1px solid;
  width: 760px;
}