#header{margin-top:13px !important;}

.front #block-static_block-crm-solution-block1 {margin: -18px 0 0;}

#block-static_block-crm-solution-block1{margin-top:-18px;}

#block-quicktabs-tabs .ui-tabs .ui-tabs-nav li, #block-static_block-get-started-homepage-block1 .ui-tabs .ui-tabs-nav li, #quicktabs-tabs div.ui-tabs-panel{border-top-left-radius:0px; border-top-right-radius:0px; border-bottom-left-radius:0px; border-bottom-right-radius:0px;}

#block-static_block-homepage-joinus-block1 .three-tab{width:799px;}

#block-static_block-homepage-joinus-block1{padding-right:0;padding-top:0px;}

.close-button a{text-indent:0px;}

#block-search-form .form-text
{
    padding-top:3px;
	padding-bottom:0px;
	height:24px;
}

#search-block-form, #block-form
{
	margin-left:10px !important;
	margin-top:9px !important;
}

#block-search-form, #block-system-main{position:static;}

#block-search-form .form-submit{background-position:0px -1px;}

#block-search-form .form-actions
{
    float: left;
    left: 10px;
    position: relative;
    top: 1px;
}

#search-form .form-submit
{
	float:none;
	left:160px;
	top:0px;
}

#search-form .form-text
{
    padding-top:3px;
	padding-bottom:0px;
	height:24px;
	margin-left:48px !important;
}

#block-menu-menu-contact-sub-menu{margin-top:-2px;}

#block-menu-menu-contributions{top:214px;}

#block-search-form .form-text, #search-form .form-text {
    background-repeat: no-repeat;
    border: 0 none;
    color: #A55F53;
    font-size: 10px;
    height: 22px;
    margin-left: 36px;
    margin-top: 3px;
    padding: 0;
    position: absolute;
    width: 200px;
	background-image:none;
}

#block-search-form .form-item {
    background-image: url("../images/sr1.png");
    background-repeat: no-repeat;
    height: 28px;
    margin: 0;
    position: absolute;
    width: 250px;
}

#search-form .form-item {
    background-image: url("../images/sr1.png");
    background-repeat: no-repeat;
    height: 28px;
    margin: 0;
    position: absolute;
    width: 400px;
	background-position:150px 0;
}

.hover-image, .disable-field{margin-top:7px !important;}

#block-logintoboggan-logintoboggan_logged_in{margin-top:13px;}

div.ddblock-cycle-upright10p div.slide-read-more{margin-top:-20px;}

.gray, .white{font-size:0px !important;}

.header-top{margin-top:-114px !important;}

.header-image{margin-top:6px !important;}

#block-quicktabs-tabs, #block-static_block-get-started-homepage-block1 #quicktabs-tabs{border-top-left-radius:0px !important; border-top-right-radius:0px !important; border-bottom-left-radius:0px !important; border-bottom-right-radius:0px !important;}

#footer{padding-bottom:1px !important;} 

.view-download-tab .views-table .views-field-body a
{
    padding-bottom:13px !important;
}
