@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{

#block-search-form .form-actions{top:-1px;}

#block-static_block-crm-solution-block1{margin-top:-18px;}

.section-feature #block-system-main{margin-bottom:0px;}

.front #block-static_block-crm-solution-block1{margin-top:-18px;}

#block-search-form .form-text, #block-system-main #search-form .form-type-textfield .form-text{height:24px;}

#block-views-casestudy_new_-block{margin-top: 3px;}

#block-static_block-get-started-homepage-block1{margin-top: 2px;}

#block-static_block-homepage-joinus-block1 .three-tab{width:799px;margin-top: 0px;}

#block-static_block-homepage-joinus-block1{padding-right:0;padding-top:0px;}

#block-menu-menu-contact-sub-menu, #block-menu-menu-contributions{top: 218px;}

.header-top{margin-top:-102px !important;padding-bottom:2px !important;}

#block-quicktabs-tabs .ui-tabs .ui-tabs-nav li, #block-static_block-get-started-homepage-block1 .ui-tabs .ui-tabs-nav li, #quicktabs-tabs div.ui-tabs-panel, #quicktabs-tabs{border-top-left-radius:0px; border-top-right-radius:0px; border-bottom-left-radius:0px; border-bottom-right-radius:0px;}

#block-quicktabs-tabs, #block-static_block-get-started-homepage-block1 #quicktabs-tabs{margin-top:-35px;}

.close-button{margin-left:529px;margin-top:-20px;}

#block-static_block-crm-solution-block1 #ddblock-9 .slide-title h2{padding:13px 5px 5px 5px !important;}

div.ddblock-cycle-upright10p div.slide-read-more{margin-top:-20px;}

#block-logintoboggan-logintoboggan_logged_in{margin-top:13px;}

#block-static_block-crm-solution-block1 #ddblock-1 .slide-title h2{padding-top:15px !important;padding-bottom:7px !important;}

#footer{padding-bottom:1px !important;} 
}

.view-download-tab .views-table .views-field-body a{padding-bottom:13px !important;}
